<form>
  <app-input-string
    label="Họ và tên:"
    placeholder="Full name"
    data="name"
    require="true"
    minLength="4"
    maxLength="12"
    #apptest
  ></app-input-string>

  <app-input-number
    label="Số điện thoại:"
    placeholder="Phone number"
    require="true"
    mask="+00-000-000-000"
    #apptest2
  ></app-input-number>
  <app-input-string
    label="Địa chỉ:"
    placeholder="Address"
    disabled="true"
    #apptest3
  ></app-input-string>
  <app-input-number
    label="Số tiền:"
    type="number"
    placeholder="Amount"
    mask="separator"
    suffix=" VNĐ"
    thousandSeparator="."
    #appInputNumber
  ></app-input-number>
  <app-input-date
    label="Ngày:"
    type="number"
    placeholder="Click to choose"
    format="dd-MM-yyyy"
    min="2019-12-10"
    max="2019-12-30"
    #appInputDate
  ></app-input-date>
  <app-input-checkbox
    key="Checkbox test"
    class="offset-md-2 offset-sm-2 offset-lg-2 col-10"
    status="danger"
    checked="true"
    #appInputCheckbox2
  ></app-input-checkbox> 
  <app-input-checkbox
    label="Group checkbox:"
    key="Checkbox test"
    [options]="options"
    group="true"
    #appInputCheckbox
  ></app-input-checkbox>
  
  <app-input-radio
    status="success"
    label="Radio"
    checked="false"
    [options]="listOptionRadio"
    #appInputRadio
  ></app-input-radio>
</form>
<button (click)="onclick()" class="mt-3 float-right" nbButton>
  <nb-icon icon="star"></nb-icon>Check value
</button>
