<div class="row">
    <div class="{{ class }}">
      <div class="row">
        <div class="{{ cssClassLabel }}">
          <label>{{ label }}</label>
        </div>
        <div class="{{ cssClassInput }}">
          <input
          *ngIf="type == 'text'"
            #input
            type="text"
            nbInput
            [fieldSize]="fieldSize"
            [placeholder]="placeholder"
            fullWidth
            disabled="{{ disabled }}"
            [(ngModel)]="value"
            />
            <textarea *ngIf="type == 'textarea'" [(ngModel)]="value" nbInput fullWidth [placeholder]="placeholder"></textarea>
          <div *ngIf="showMessage">{{ message }}</div>
        </div>
      </div>
    </div>
  </div>
  