<div class="row">
  <div class="{{ class }}">
    <div class="row">
      <div class="label {{ cssClassLabel }}">
        <label>{{ label }}</label>
      </div>
      <div class="input {{ cssClassInput }}">
        <input
          #input
          type="text"
          nbInput
          [fieldSize]="fieldSize"
          [placeholder]="placeholder"
          fullWidth
          [suffix]="suffix"
          [disabled]="disabled"
          [(ngModel)]="value"
          [mask]="mask"
          [thousandSeparator]="thousandSeparator"
        />
        <div *ngIf="showMessage">{{ message }}</div>
      </div>
    </div>
  </div>
</div>
