<div class="row">
  <div class="{{ class }}">
    <div class="row">
      <div class="col-2">
        <label>{{ label }}</label>
      </div>
      <div class="col-10">
        <input
          nbInput
          [placeholder]="placeholder"
          fullWidth
          [fieldSize]="fieldSize"
          [disabled]="disabled"
          [(ngModel)]="value"
          [nbDatepicker]="formpicker"
        />
        <nb-datepicker [min]="min" [max]="max" #formpicker [format]="format"></nb-datepicker>
        <div *ngIf="showMessage">{{ messageError }}</div>
      </div>
    </div>
  </div>
</div>
